.mask{
    width: 100%;
    height: 100%;
    position: relative;
}
.intro-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    
}
.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;

}

.hero{
    height: 100vh;
    width: 100%;
}

.hero .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.type{
    color: #fff;
    font-weight: 300;
}
.hero .content h1{
   font-size: 3rem;
   padding: 0.6rem 0 1.5rem;
   text-transform: uppercase;
    
}
.hero .content p{
    font-size: 1.5rem; 
    font-weight: 200;
    
}

@media screen and (max-width: 640px){
    .hero .content h1{
        font-size: 2.8rem;
        
         
     }
     .hero .content p{
         font-size: 1.8rem; 
         
     }
     .hero .btn{
        padding: 10px 40px;
        
     }
     .hero .content{
        top: 50%;
     }
}