 .page{
    width: 100%;
    height: 100 px;
    

 }
 .top-tags{
    bottom: 20px;
    top: 100 px;
 }
 .tags{
    color: #000;
    opacity: 0.8;
    
    
    
    font-size: 120 px;
    font-family: "La Belle Aurore";
 }
 .bottom-tag-html{
    
 }