.footer{
    width: 100%;
    padding: 5rem  1rem;
    background-color:#000;
}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}