.hero-img2{
    width: 100%;
    background: rgba(0,0,0,0.8);
    height: 60vh;
    position: relative;
}

.hero-img2 ::before{
    content: "";
    background: url(../../assets/images/claudio-about-3.jpg);
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero-img2 h1{
    font-size: 3rem;
    padding: 2.5rem;
}
.hero-img2 p{
    font-size: 1.4rem;
    text-align: center;
}
@media screen and (max-width: 640px) {
    .hero-img2 h1{
        font-size: 2.2rem;
    }
    .hero-img2 p{
        font-size: 1.4rem;
    }
}