@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}

body{
  background: white;

}
h1,h4,p,a{
  color:#fff;
  text-decoration: none;
  
}
a{
  size: 50px;
    font-weight: 600;
  }


h1,p{
  color: #fff;
}
ul {
  list-style-type: none;
}
ul li{
  color: #fff;
}
.btn{
  padding: 10px 40px;
  font-size: 2 rem;
  text-transform: uppercase;
  background: #9966CC;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 900;
  cursor: pointer;
  margin: 5px;
}
.btn-light{
  background: transparent;
  color: #fff;
}

.btn:hover{
  background:  #fff;
  color:#9966CC;
  transition: 0.3s;
}