@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background: white;

}
h1,h4,p,a{
  color: black;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li{
  color: black;
}
.btn{
  padding: 12 px 32 px;
  font-size: 1 rem;
  text-transform: uppercase;
  background: #9966CC;
  color: #222;
  border: 1px solid #fff;
  font-weight: 800;
  cursor: pointer;
}
.btn-light{
  background: transparent;
  color: #fff;
}

.btn:hover{
  background:  #fff;
  color:#9966CC;
  transition: 0.3s;
}